@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
--red: hsl(1, 90%, 64%);
--blue: hsl(219, 85%, 26%);

--white: hsl(0, 0%, 100%);
--very-light-grayish-blue: hsl(210, 60%, 98%);
--light-grayish-blue-1: hsl(211, 68%, 94%);
--light-grayish-blue-2: hsl(205, 33%, 90%);
--grayish-blue:hsl(219, 14%, 63%);
--dark-grayish-blue:hsl(219, 12%, 42%);
--very-dark-blue: hsl(224, 21%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    padding: 1rem;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.notification-title{
    font-weight: 800;
}

.notification-title>span{
    background-color: var(--blue);
    color: var(--white);
    padding:1px 10px;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 4px;
}

.btn{
    font-size: 14px;
    color: var(--grayish-blue);
    font-weight: 500;
}

.notification-list{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: .75rem;
}

.notif{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    font-size: smaller ;
}

img{
    height: 100%;
}
.notif-img{
    height: 40px;
    width: 40px;
}
.content{
    color: var(--dark-grayish-blue);
}
.notif:nth-of-type(5)>.content>.p{
    display: flex;
    gap: 1rem;
    
}

.notif:nth-of-type(5)>.content>.p span.unread{
    color: var(--very-dark-blue);
    font-weight: 800;
    cursor: pointer;
    margin-right: 2px;
}
.notif:nth-of-type(5)>.content>.p>.content-img{
    height: 40px;
}
p>span{
    color: var(--light-grayish-blue);
    font-weight: 800;
    cursor: pointer;
}
p>span.unread{
    font-weight: 800;
    color: var(--very-dark-blue);
    margin-right: 2px;
}
p>span.chess{
    color: var(--blue);
}
.time{
    color: var(--grayish-blue);
    font-weight: 500;
}
.package{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.package>.msg{
    border: 1px solid var(--grayish-blue);
    border-radius: 4px;
    padding: 1rem 1.5rem 1rem 1rem;
    line-height: 1.4;
    color: var(--dark-grayish-blue);
}


.notif.unread
{
    background: var(--light-grayish-blue-1);
    border-radius: 8px;
}
.circle.show{
    margin-left: 2px;
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.num.off{
    display: none;
}




